.text-deepPercent {
  fill: white;
}

.text-duration-hours,
.text-duration-minutes {
fill: rgb(88, 230, 255);
}

.dailyWrapper {
  position: relative;
  width: 90px;
  float: left;
}

.tooltip {
  position: absolute;
  float: right;
  width: 100px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
}
