* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #0e0a20 url(https://img.megabox.co.kr/static/mb/images/common/bg/bg-origin.png) no-repeat center top;
  background-size: 100% 740px;
  color: white;
}

a {
  color: white;
}

h1 {
  font-size: 2em;
  font-weight: 500;
}
